[submodule "tp1-jee"]
	path = tp1-jee
	url = https://github.com/YassineSefiani/tp1-jee
[submodule "tp2-students-app"]
	path = tp2-students-app
	url = https://github.com/YassineSefiani/tp2-students-app
[submodule "tp2-hospital-jee"]
	path = tp2-hospital-jee
	url = https://github.com/YassineSefiani/tp2-hospital-jee
[submodule "tp2-users-jee"]
	path = tp2-users-jee
	url = https://github.com/YassineSefiani/tp2-users-jee
